@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@import './theme-default.css';

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html,
body {
	height: 100%;
}

.correct-letter {
	background-color: green;
}
.incorrect-letter {
	background-color: lightcoral;
}
.wrong-letter {
	background-color: red;
}
