@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@import './theme-default.css';

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html,
body {
	height: 100%;
}

.word.incorrect {
	@apply border-b-2 border-destructive/80;
}

/* style letters that have no state */
.word.incorrect > .letter:not(.correct):not(.incorrect):not(.wrong) {
	@apply text-shadow-destructive/80 text-shadow-sm;
}

.letter {
	@apply leading-0 opacity-40;
}
.letter.correct {
	opacity: 1;
}
.letter.incorrect {
	opacity: 1;
	color: var(--color-destructive);
}
.letter.wrong {
	opacity: 0.4;
	color: var(--color-destructive);
}
