@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@import './theme-default.css';

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html,
body {
	height: 100%;
}

button {
	@apply cursor-pointer;
}

.word.incorrect {
	@apply shadow-[inset_0_-2px_0_0] shadow-destructive/80;
}

.word.incorrect > .letter {
	@apply text-shadow-secondary text-shadow-xs;
}

/* style letters that have no state */
.word.incorrect > .letter:not(.correct):not(.incorrect):not(.wrong) {
	@apply text-shadow-destructive/80;
}

.word {
	@apply py-[0.2ch];
}
.letter {
	@apply leading-tight brightness-50;
}
.letter.correct {
	@apply brightness-100;
}
.letter.incorrect {
	@apply brightness-100;
	color: var(--color-destructive);
}
.letter.wrong {
	@apply brightness-40;
	color: var(--color-destructive);
}
