@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@import './theme-default.css';

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html,
body {
	height: 100%;
}

.letter {
	@apply leading-relaxed opacity-40;
}
.correct-letter {
	opacity: 1;
}
.incorrect-letter {
	opacity: 1;
	color: var(--color-destructive);
}
.wrong-letter {
	opacity: 0.4;
	color: var(--color-destructive);
}
